@import "App";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 1300px) {
  .wrapper {
    width: 100%;
    padding: 16px;
  }

  .wrapper section {
    width: 100%;
    margin: 8px;
    min-width: auto;
  }
}

@media (max-width: 800px) {
  .wrapper {
    align-items: center;
    flex-direction: column;
  }
}
