@import "App";

.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.pageNum {
  font-family: $font-family;
  font-size: 1rem;

  border: none;
  background: none;
  color: $color-second;
}

.pageNum:not(:disabled):hover {
  cursor: pointer;
  text-shadow: 1px 1px 0px $color-third !important;
}

.pageNum__current {
  justify-self: center;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: bold;

  border: none;
  background: none;

  color: $color-third;
  cursor: default;
}
