.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;

  border: 1px gray solid;
  border-radius: 4px;
}

.logo {
  margin: 8px;
  margin-bottom: 0px;
}

.price {
  margin:8px;
  margin-top: 0px;
}

.logo,
.price {
  display: flex;
  align-items: center;
  gap: 8px;

  word-break: break-all;
}

.coinName {
  font-weight: bold;
}

.label {
  font-size: 0.8rem;
  color: grey;
}

.navigation {

}

.buyButton {
  display: none;
  position: absolute;
  width: 80px;
  
  top: 50%;
  top: 28%;
  right: 100px;
  right: 10px;
  
  font-size: 1rem;
  transform: translateY(-50%);
}

.removeButton {
  display: none;
  position: absolute;
  width: 80px;
  
  top: 50%;
  top: 72%;
  right: 10px;
  
  font-size: 1rem;
  transform: translateY(-50%);
}

.wrapper:hover .buyButton {
  display: block;
}

.wrapper:hover .removeButton {
  display: block;
}

@media (max-width: 600px) {
  .buyButton, .removeButton {
    font-size: 0.8rem;
    width: 60px;
  }
}