.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;

  border: 1px gray solid;
  border-radius: 4px;
  padding: 8px;
}

.logo,
.price {
  display: flex;
  align-items: center;
  gap: 8px;

  word-break: break-all;
}

.coinName {
  font-weight: bold;
}

.label {
  font-size: 0.8rem;
  color: grey;
}

.buyButton {
  display: none;
  position: absolute;
  width: 60px;
  
  top: 50%;
  right: 100px;
  
  transform: translateY(-50%);
}

.removeButton {
  display: block;
  position: absolute;
  width: auto;
  
  top: 50%;
  right: 10px;
  
  transform: translateY(-50%);
}

.wrapper:hover .buyButton {
  display: block;
}
