.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    .section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      h1 {
        margin: 0;
      }
    }
  }

  .body {
    display: flex;

  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 100%;
    align-items: center;
    .header {
      flex-direction: column;
      align-items: center;
      .section {
        flex-direction: row;
        align-items: center;
        gap: 8px;
       
        >:last-child{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .wrapper .header .section h1{
    font-size:16px;
    width: auto;
  }
}