.wrapper {
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--font-family);
  background-color: var(--color-first);
  border: 2px solid var(--color-first);
  border-radius: 4px;
  color: var(--color-second);
  transition: background-color 0.1s;
}

.wrapper:not(:disabled):hover {
  color: var(--color-second);
  border-color: var(--color-third);
  background-color: var(--color-third);
}

.wrapper:not(:disabled):active {
  color: var(--color-second);
  border-color: var(--color-second);
  background-color: var(--color-third);
}

.wrapper:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
