@import "App";

.wrapper {
  display: grid;
  justify-items: center;
  width: inherit;
  grid-gap: 8px;
}

.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  //width: min-content;
  background-color: $color-second;
  border: 4px solid $color-second;
  border-radius: 8px;
  padding: 0px 4px;

  box-shadow: $box-shadow;

  transition: all 1s ease-out 0.5s;
}

.tbody {
  gap: 4px;
  color: $color-font;
  font-weight: 500;
}

.table,
th,
td {
  text-align: center;
  vertical-align: middle;
  color: $color-font;
  font-weight: 500;
}

tr {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 4fr 7fr 8fr 6fr 3fr;
  grid-template-columns: 3fr 3fr 2fr 6fr 9fr 10fr 8fr 4fr;

  border-bottom: 2px solid $color-third;
}

.tbody tr:last-child {
  border-bottom: none;
}

th {
  padding: 8px 0px;
}

th,
td {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: baseline;
  text-align: center;

  padding: 12px;
  border: none;
  white-space: nowrap;
}

td:has(img) {
  padding: 0px;
  align-items: center;
}

th:last-child,
td:last-child {
  text-wrap: balance;
  align-self: center;
  padding: 0;
}

.button__link {
  border: none;
  background: none;
  cursor: pointer;
}

.button__link:hover {
  color: gray;
}

.columnName {
  align-self: center;
  margin: 0;
  
  font-weight: 500;
  color: $color-font;
}

.columnName__withSort {
  display: flex;
  align-items: center;
}

.columnName__withSort input {
  display: none;
}

.columnName__withSort label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.columnName__withSort:hover span:first-child {
  text-shadow: 1px 1px 0px $color-third !important;
}

.columnName__withSort:hover span:last-child {
  filter: $filter-third;
}

@media (max-width: 800px) {
  .table {
    max-width: 600px;
    font-size: 1rem;
    width: 100%;
  }

  th {
    padding: 16px 0px;
  }
}

@media (max-width: 450px) {
  .table {
    max-width: 350px;
    font-size: 1rem;
  }
}
