@import "App";

$button-bg: $color-first;
$button-border: $color-third;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;

  background: none;
  border: none;
}

.wrapper:hover {
  color: $button-bg;
}

.icon {
  display: block;
  margin: 0;

  filter: $filter-second;
  cursor: pointer;
  transition: all 0.1s;
}

.wrapper:hover .icon {
  filter: $filter-third;
}

.wrapper:active .icon {
  filter: $filter-second;
}
