.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  
  background: none;
  border: none;
}

.wrapper:hover {
  color: var(color-first);
}

.icon {
  display: block;
  margin: 0;

  filter: var(--filter-second);
  cursor: pointer;
  transition: all 0.1s;
}

.wrapper:hover .icon {
  filter: var(--filter-third);
}

.wrapper:active .icon {
  filter: var(--filter-second);
}
